<body>
  <text>ようこそ、ながのCAKEへ！</br>
  このサイトは、ケーキ販売のECサイトになります。</br>
  会員でない方も商品の閲覧はできますが、</br>
  購入には会員登録が必要になります。</br>
  </text>

  <h4>新着商品</h4>
  <% @item.each do |item| %>
   <table>
    <th><%= image_tag item.image %></th>
    <th><%= item.name %></th>
    <th>¥<%= item.price %></th>
   </table>
  <% end %>

  <%= link_to "全ての商品を見る>",items_path %>
</body>