<h3>ジャンル編集</h3>
<%= form_with model: @genres, url: admin_genre_path(@genres) do |f| %>
  <label for="inputName">ジャンル名</label>
  <ul><%= f.text_field :name, autofocus: true, id:"inputName" %></ul>

  <ul><%= f.submit "変更を保存" %></ul>
<% end %>