<body>
 <div class="container">

  <h3>ジャンル編集</h3>
  <%= form_with model: @genres, url: admin_genre_path(@genres) do |f| %>
   <p>
    ジャンル名

    <%= f.text_field :name, autofocus: true %>

    <%= f.submit "変更を保存",class:"btn btn-success" %>
   </p>
  <% end %>
 </div>
</body>