<body>
  <h3>商品一覧</h3>
  <% @item.each do |item| %>
   <table>
    <th><%= image_tag item.image %></th>
    <th><%= item.name %></th>
    <th>¥<%= item.price %></th>
   </table>
  <% end %>
  <%= paginate @item %>
</body>